<div id="local-signin" class="loginpanel">
    <h2>Sign in</h2>
    <div class="subcontent loginsub">
        {{#username_form}}
            <div class="username_form">
                {{{ username_form }}}
            </div>
        {{/username_form}}

        <div class="password_form {{#username_form}}hide{{/username_form}}">
            {{{ password_form }}}
        </div>
        <div class="errors"></div>
    </div>
</div>
