<div id="local-signin" class="loginpanel">
    <h2>Sign in</h2>
    <div class="subcontent loginsub">
        <div class="username_form">
            {{{ username_form }}}
        </div>
        <div class="password_form hide">
            {{{ password_form }}}
        </div>
    </div>
</div>
